@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header{
    height: 100vh;
    background: no-repeat center/cover url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
    
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: white;

}

.frase{
    display: flex;
    gap: 20px;
}

.header-content{
    max-width: 400px;
    margin: 230px auto;
    color: white;
    text-align: center;
}

.header-content button{
    border: none;
    padding-inline: 30px;
    padding-block: 10px;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;  
}

.header-content button:hover{
    background-color: #586126;
    transform: scale(1.1);
}

button{
    background: #353B17;
    text-transform: uppercase;
    font-weight:bolder;
    box-shadow: 10px 8px 10px black;
    transition: all 1s;
}

.frase p{
    transition: all 0.5s;
}
.frase p:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: #586126;
    font-weight: bolder;
}

strong{
    color: #586126;
}